<header id='masthead'>
    <div class='grid'>
        <div class='side-content'>
            <!--<canvas width="643" height="115" glitch-logo><img src='images/temp-logo-emoji.svg'></img></canvas>-->
        </div>
        <div class='main-content'>
            <div class='column'>
                <div id='connection-status' class='left ng-cloak'>
                    <p class='left'>{{connection_status}}</p>
                </div>
                <div id='rotation-toggler' class='right ng-cloak'>

                </div>
            </div>
        </div>
    </div>
</header>