@storm: #121924;
@mist: #EFEFEF;
@white_gold: #D4C4AB;

@text-color: #362738;
@darker-text-color: #0D0F17;

@header_footer_height: 80px;
@main_offset: @header_footer_height * 2;


/* 	Resets
	------------------------------------- */

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


/* 	Typography
	------------------------------------- */
/*
@import url(http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@font-face {
	font-family: DejaVuSans;
	src: url(../vendor/fonts/DejaVuSans.ttf);
}
@font-face {
	font-family: DejaVuSans-ExtraLight;
	src: url(../vendor/fonts/DejaVuSans-ExtraLight.ttf);
}
@font-face {
	font-family: DejaVuMono;
	src: url(../vendor/fonts/DejaVuSansMono.ttf);
}*/
@font-face {
    font-family: Rayon;
    src: url(../vendor/fonts/GrayonText-hinted.ttf);
}
@font-face {
    font-family: Rayon-Bold;
    src: url(../vendor/fonts/GrayonText-bold-hinted.ttf);
}
@font-face {
    font-family: Rayon-Italic;
    src: url(../vendor/fonts/GrayonText-italic-hinted.ttf);
}


/* 	3. Base
	------------------------------------- */
html {
    height: 100%;
}
body {
    height: 100%;
	font: 14px "Rayon", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 21px;
	color: @text-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	padding: 0;
	margin: 0;
    position: relative;
    /*
    background: @white_gold;
    background-image:
      -webkit-linear-gradient(top, rgba(254, 254, 252, 0.05) 0%, rgba(246, 242, 239, 0.8) 100%),
      -webkit-linear-gradient(145deg, rgba(154, 143, 147, 0.2), rgba(255, 255, 255, 1.0));
    background-image:
      -moz-linear-gradient(top, rgba(254, 254, 252, 0.05) 0%, rgba(246, 242, 239, 0.8) 100%),
      -moz-linear-gradient(145deg, rgba(154, 143, 147, 0.2), rgba(255, 255, 255, 1.0));
    background-image:
      -o-linear-gradient(top, rgba(254, 254, 252, 0.05) 0%, rgba(246, 242, 239, 0.8) 100%),
      -o-linear-gradient(145deg, rgba(154, 143, 147, 0.2), rgba(255, 255, 255, 1.0));
    background-image:
      linear-gradient(to top, rgba(254, 254, 252, 0.5) 0%, rgba(251, 255, 255, 0.8) 100%),
      linear-gradient(315deg, rgba(154, 143, 147, 0.2), rgba(255, 255, 255, 1.0)); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
::selection {
    background: #FFD5D0; /* Consider this color: #94F9D3; */
}
::-moz-selection {
    background: #FFD5D0; /* Consider this color: #94F9D3; */
}
#root-container-wrap {
    height: 100vh;
}
#root-container {
    min-width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
}
#view-frame {
    position: relative;
    min-width: 100%;
    height: inherit;
    margin-top: -@header_footer_height;
    padding: @header_footer_height 16px 0;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    left: 0;
}

#view-frame.ng-enter {
    -webkit-transition: 1.0s linear all;
    transition: 1.0s linear all;
    left: 100%;
    float:left;
}
#view-frame.ng-enter.ng-enter-active {
    left: 0;
}
#view-frame.ng-leave {
    float:left;
    -webkit-transition: 1.0s linear all;
    transition: 1.0s linear all;
    left: 0;
}
#view-frame.ng-leave.ng-leave-active {
    left: -100%;
}
@media all and (min-width:2040px) {
    #root-container {
        min-width: 0px;
        width: 2040px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: @darker-text-color;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}
h3 {
    font-size: 19px;
    font-weight: bold;
    line-height: 27px;
}
a {
    color: #1A56F2;
    transition: color 0.1s ease-in;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #1A56F2;
    &:visited {
      /* color: @darker-text-color!important; */
    }
    &:hover {
        color: #6E95F1;
        padding-bottom: 4px;
        border-bottom: 0;
        background: url(../images/squiggle.gif) bottom repeat-x;
    }
}
p {
    font-size: 15px;
    line-height: 22px;
    &.small {
        font-size: 12px;
        line-height: 18px;
    }
}
.grid {

}
.grid > * {
    margin: 0 0;
    height: 100%;
}
@media all and (min-width:630px) {
    .grid {
        height: 100%;
        padding-left: 300px;
        overflow: hidden;
    }
    .grid > .side-content {
        width: 300px;
        height: 100%;
        padding: 0 16px;
        float: left;
        margin: 0;
        margin-left: -300px;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
    }
    .grid > .main-content {
        width: 100%;
        height: 100%;
        padding: 0 16px;
        float: right;
        margin: 0;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
    }
    .grid > .main-content > .column {
    	width: 45%;
        min-width: 470px;
        max-width: 840px;
        height: 100%;
    	margin: 0 auto;
    }
}
.column {

}
.panel {
    height: 100%;
    display: table;
    box-sizing: border-box;
    .panel-center {
        display: table-cell;
        vertical-align: middle;
    }
}
.left {
    float: left;
    clear: left;
}
.right {
    float: right;
    clear: right;
}


/*  Masthead
    ------------------------------------- */

header#masthead {
    min-width: 100%;
    height: @header_footer_height;
    padding: 16px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .side-content {
        /* Internet Explorer 10 */
               display:-ms-flexbox;
         -ms-flex-pack:center;
        -ms-flex-align:center;

        /* Firefox */
               display:-moz-box;
         -moz-box-pack:center;
        -moz-box-align:center;

        /* Safari, Opera, and Chrome */
                  display:-webkit-box;
         -webkit-box-pack:center;
        -webkit-box-align:center;

        /* W3C */
          display:box;
         box-pack:center;
        box-align:center;
    }
    canvas {
        max-width: 100%;
        max-height: 100%;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    #connection-status {
        p {
            margin: 0;
            padding: 12px 0;
            line-height: inherit;
            font-size: inherit;
        }
    }
}


/*  Main
    ------------------------------------- */

section#main {
    width: 100%;
    height: 100%;
    display: table;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin-top: -@header_footer_height;
    padding: @header_footer_height + 16px 0 16px;
    .grid {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        .side-content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin-left: 0!important;
        }
    }
}


/*  Earth
	------------------------------------- */

#emoji-planet-container {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    &.ec-circle-hover {
        cursor: -webkit-grab!important;
        cursor: -moz-grab!important;
        &:active {
            cursor: -webkit-grabbing!important;
            cursor: -moz-grabbing!important;
        }
    }
     > canvas {
        width: 100%!important;
        height: auto!important;
        position: static;
    }
}


/*  About Page
    ------------------------------------- */
#about-container {
    height: 100%;
    min-height: 544px;
    overflow: scroll;
    display: block;
}
#main .about-column {
    width: 470px;
    padding: 0 16px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    float: left;
    margin-left: 32px;
    &:first-child {
        margin-left: 0px;
        margin-right: 32px;
    }
    .about-group {
        margin-bottom: 64px;
        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            margin-bottom: 32px;
        }
        .qa-group {
            margin-bottom: 16px;
            p {
                margin: 0px;
                &:first-child {
                    margin-bottom: 2px;
                }
                span.qa-tag {
                    font-weight: bold;
                    margin-right: 1px;
                    color: @darker-text-color;
                }
            }
        }
        ul#contacts {
            margin: 0;
            list-style: none;
            padding: 0;
        }
        #source-code {
            float: right;
            a, img {
                float: right;
            }
            a {
                margin-top: 17px;
                margin-right: 8px;
            }
            img {
                height: 46px;
                margin-top: 4px;
            }
        }
    }
}



/*  Footer
    ------------------------------------- */

footer#footer {
    min-width: 100%;
    height: @header_footer_height;
    padding: 16px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    #regards {
        p {
            margin: 0;
            padding: 15px 0px 15px 16px;
            font-size: 13px;
            line-height: 19px;
        }
    }
    #sharing-space {
        position: relative;
        div#share-text-container {
            height: 45px;
            position: absolute;
            right: 35px;
            width: 1px;
            overflow: hidden;
            -webkit-transition: all 0.1s ease-in;
               -moz-transition: all 0.1s ease-in;
                 -o-transition: all 0.1s ease-in;
                    transition: all 0.1s ease-in;
            span#share-text {
                width: 214px;
                height: 28px;
                margin-right: 15px;
                background: #FFF;
                position: absolute;
                top: 11px;
                left: 2px;
                display: inline-block;
                border-radius: 14px;
                overflow: hidden;
                border: 1px solid white;
                /*&::after {
                    content: '';
                    position: absolute;
                    right: -8px;
                    top: 4px;
                    width: 0px;
                    height: 0px;
                    border-width: 10px 0 10px 12px;
                    border-color: transparent transparent transparent white;
                    border-style: solid;
                    background: transparent;
                }*/
                /*&.focused {
                    outline: none;
                    border-color: #1480CD;
                    box-shadow: 0 0 5px rgba(38, 202, 219, 0.5);
                }*/
                a {
                    left: 12px;
                    top: 4px;
                }
                input {
                    left: 24px;
                    padding: 5px 7px;
                    border: 0;
                    width: 144px;
                }
                a, input {
                    position: absolute;
                }
            }
            &.active {
                width: 295px;
            }
        }
    }
}


/*  Et Cetera
    ------------------------------------- */

.perspective-button-container {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 4px 16px 0 0;
    &:hover {
        cursor: pointer;
        button {
            background: #FEFFFF;
            box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.1),0px 2px 10px 0px rgba(0,0,0,0.1);
        }
        .pseudo {
            &::before {

            }
        }
    }
    button {
        height: 40px;
        padding: 4px 16px 0;
        position: relative;
        color: @text-color;
        vertical-align: middle;
        font-family: "Rayon", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-rendering: optimizeLegibility;
        white-space: nowrap;
        background: #F0F0F0;
        box-shadow: rgba(0,0,0,0.2) 0px 1px 1px 0px,rgba(0,0,0,0.1) 0px 1px 2px 0px;
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                border-radius: 2px;
        border: none;
        outline: none;
        transition:all 0.1s ease-in;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
    }
    .pseudo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition:all 0.1s ease-in;
        &::before {
            width: 20px;
            height: 38px;
            content: '';
            position: absolute;
            top: 1px;
            left: -8px;
            background: #33427C;
            -webkit-border-radius: 2px;
               -moz-border-radius: 2px;
                    border-radius: 2px;
            box-shadow: rgba(0,0,0,0.2) 0px 1px 1px 0px,rgba(0,0,0,0.1) 0px 1px 2px 0px;
            -webkit-transform: perspective(350px) rotateY(-90deg);
               -moz-transform: perspective(350px) rotateY(-90deg);
                -ms-transform: perspective(350px) rotateY(-90deg);
                 -o-transform: perspective(350px) rotateY(-90deg);
                    transform: perspective(350px) rotateY(-90deg);
            transition:all 0.1s ease-in;
            z-index: -1;
        }
    }
    &.active {
        .pseudo::before {
            left: -11px;
            -webkit-transform: perspective(210px) rotateY(-70deg);
               -moz-transform: perspective(210px) rotateY(-70deg);
                -ms-transform: perspective(210px) rotateY(-70deg);
                 -o-transform: perspective(210px) rotateY(-70deg);
                    transform: perspective(210px) rotateY(-70deg);
            -webkit-border-top-left-radius: 3px;
               -moz-border-top-left-radius: 3px;
                    border-top-left-radius: 3px;
        }
        .perspective {
            -webkit-transform: perspective(350px) rotateY(50deg);
               -moz-transform: perspective(350px) rotateY(50deg);
                -ms-transform: perspective(350px) rotateY(50deg);
                 -o-transform: perspective(350px) rotateY(50deg);

        }
        button {
            -webkit-border-top-left-radius: 1px;
               -moz-border-top-left-radius: 1px;
                    border-top-left-radius: 1px;
        }
    }
}
