<header id='masthead'>
  <div class='grid'>
    <div class='side-content'>
    	<div id='home-link'>
      	<a href='#/' class='clean'><img src='vendor/images/left_arrow.svg'/><span><span>Go to Main Page</span></span></a>
      </div>
    </div>
    <div class='main-content'>
      <div class='column'>
      </div>
    </div>
  </div>
</header>
<section id='main'>
	<div id='unfound-page-container' class='.grid'>
		<div id='unfound-page-message'>
			<p>404 - Whatever you're looking for, it's not here.</p>
			<img src='images/cry.gif'/>
		</div>
	</div>
</section>



